<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                 <div>   
                    <a href="/fibers/new"><button>Create A New fiberID</button></a>
                    <% for (fiber of fibers) { %>
                        <article>
                            <a href="/fibers/<%= fiber._id %>">
                                <h2> 
                                    <%= fiber.fiberID %> - <%= fiber.isItWorking ? "Usable" : "Already In Used" %>
                                </h2>
                            </a>
                        </article>

                        <% } %>
                </div>
            </main>
    </body>

</html>