<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div class="container-fluid"> 
                    <div class="container text-center">
                        <div class="row align-items-start">
                            <div class="col">
                             <% for (fiber of fibers) { %>
                                 <article>
                                         <h2> 
                                            <a href="/fibers/<%= fiber._id %>"><%= fiber.fiberID %></a> -  <%= fiber.isItWorking ? "Usable" : "Is Active" %>
                                         </h2>
                                 </article>
                             <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
    </body>

</html>